body {
    font-family: "Playfair Display", serif;
}

header h1 {
    font-size: 2rem;
    color: whitesmoke;
}

/*mobile view*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightblue;
    padding: 2px;
}

.navigation {
    list-style: none;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.navigation.open {
    display: flex;
    flex-direction: column;
}

#menu {
    font-size: 2rem;
    border: 0;
    color: blue;
    position: absolute;
    right: 1rem;
}

#menu::before {
    content: '≡';
}
#menu.open::before {
    content: 'X';
}

nav a:hover {
    text-decoration: wavy;
    color: lightyellow;
}

.figure {   
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 28px;
    place-items: center;
}

figcaption {
    text-align: start;
    font-size: smaller;   
}

main {
    max-width: 800px;
    margin: 0 auto;
}

main h1 {
    text-align: center;
}

footer {
    background-color: lightblue;
    text-align: center;
}
